
.item{
 gap: 16px;
 height: 200px;
 width: 200px;
}

.background, .footer{
    background-color: #1F2937;
    color: white;
    
}

.logo{
  height: 80px;
  width: 80px;  
}

.link-header{
   position: relative; 
}

li{
    list-style-type: none;
    
}

ul{
    display: flex;
    gap: 16px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 16px;
}

.title-img{
    height: 300px;
    width:450px;
    border: solid #3882F6;
    border-radius: 30px;
    position: relative; 
    top: -100px;
    left: 100px;
}

.joke-img{
    width: 100px;
    height: 100px;
    border: solid #3882F6;
    border-radius: 30px;
}

.title-image{
    display: flex;
    justify-content: center;
    margin-top: -40px;
   
}

.quote-box{
    background-color: #E5E7EB;
    padding: 60px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.footer{
display: flex;
justify-content: center;
align-items: center;
padding: 24px;
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 25%;
    border: solid white;
}

.content-box, h2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.outline{
    background-color: #3882F6;
    color: white;
    width: 550px;
    height: 100px;
    display: flex;
    margin-top: 60px;
    align-items: center;
    border-radius: 30px;
}


.button-box{
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.content-box{
    height: 300px;
}
.sign-up-header{
    padding: 8px;
margin-left: 12px;
}
.sign-up{
    margin-right: 18px;
}

.left-side{
    margin-left: 18px;
}
h2{
    text-decoration: #3882F6 underline;
}